@import "tailwindcss";
/* HEADER MENU HOVER UNDERLINE */

.nav-link {
  position: relative;
  cursor: pointer;
  color: #383e48;
  font-weight: 500;
  transition: color 0.3s ease;
}

/* underline */
.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: #0184eb;
  transition: all 0.35s ease;
  transform: translateX(-50%);
}

/* hover animation */
.nav-link:hover {
  color: #0184eb;
}

.nav-link:hover::after {
  width: 100%;
}

/* active state */
.nav-link.active {
  color: #0184eb;
}

.nav-link.active::after {
  width: 100%;
}
